body, html {
  margin: 0;
  padding: 0;
}
.navBar {
  width:100vw;
  height:13vh;

  display: grid;
  grid-template-columns: 20% 1fr 20%;
  justify-items: center;
  align-items: center;

  background-color:darkseagreen; 
}

.searchField {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-column-gap: 10px;
  justify-items: center;
  align-items: center;
}

.search {
  width: 20vw;
  height:42px;
  border: 0;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  font-size:88%;
}

.submitSearch {
  width: 100px;
  height: 42px;
  background-color: #4456fa;
  border: none;
  border-radius: 5px;
  margin: 7px;
  color: white;
  text-align: center;
  line-height: 50%;
}


#shopping-cart {
  height: 100%;
  width: 75%;
  
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;  
}
