body, html {
  margin: 0;
  padding: 0;
}
.navBar {
  width:100vw;
  height:82px;

  display: grid;
  grid-template-columns: 20% 1fr 20%;
  justify-items: center;
  align-items: center;

  background-color:darkseagreen; 
}

#yeeHawEh {
  font-size: 3em;
  margin: 0;
}

.searchField {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-column-gap: 10px;
  justify-items: center;
  align-items: center;
}

.search {
  width: 20vw;
  height:42px;
  border: 0;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  font-size:88%;
}

#search {
  background-color:black;
}

datalist {
  background-color: black;
  border: none;
  border-radius: 4px;
  outline: none;
}

.submitSearch {
  width: 100px;
  height: 42px;
  background-color: #4456fa;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 7px;
  color: white;
  text-align: center;
  line-height: 50%;
}

.submitSearch:hover {
  background-color: #4d5abb;
  cursor: pointer;
}

.submitSearch:active {
  background-color: #298b31;
  color:black;
}

#shopping-cart {
  height: 100%;
  width: 75%;
  
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;  
}

.shopping-container {
  height: 100%;
  padding: 0 20px 0 20px;
  display: grid;
  align-items: center;

}

.shopping-container:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
