body, html {
  margin: 0;
  padding: 0;
}
.navBar {
  width:100vw;
  height:82px;

  display: grid;
  grid-template-columns: 20% 1fr 20%;
  justify-items: center;
  align-items: center;

  background-color:darkseagreen; 
}

#yeeHawEh {
  font-size: 3em;
  margin: 0;
}

.searchField {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-column-gap: 10px;
  justify-items: center;
  align-items: center;
}

.search {
  width: 20vw;
  height:42px;
  border: 0;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  font-size:88%;
}

#search {
  background-color:black;
}

datalist {
  background-color: black;
  border: none;
  border-radius: 4px;
  outline: none;
}

.submitSearch {
  width: 100px;
  height: 42px;
  background-color: #4456fa;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 7px;
  color: white;
  text-align: center;
  line-height: 50%;
}

.submitSearch:hover {
  background-color: #4d5abb;
  cursor: pointer;
}

.submitSearch:active {
  background-color: #298b31;
  color:black;
}

#shopping-cart {
  height: 100%;
  width: 75%;
  
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;  
}

.shopping-container {
  height: 100%;
  padding: 0 20px 0 20px;
  display: grid;
  align-items: center;

}

.shopping-container:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#shopping-dropdown {
  position: absolute;
  right: 85px;
  top: 90px;
  min-width:123px;
  opacity: 0;

  /* background-color: lightblue; */
  box-shadow: 0 2px 8px 0 #858585;
  border-radius: 3px;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  align-items: center;
}

.cartTotal {
  width: 90%;
  list-style-type: none;
  border-bottom: 1px solid darkgrey;
  text-align: center;
}

.shoppingItem {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 20% 20%;
  grid-column-gap: 5px;
  align-items: center;
  padding: 10px 10px;
}

.shoppingItemName {
  grid-column: 1 / -1;
  font-size: 1.2em;
}

.shoppingItemPrice {
  color: rgb(65, 103, 165);
  background-color:lightblue;
}

.shoppingItemQty {
  font-size: .8em;
  color: grey;
  background-color: lightgreen;
}

.removeItem {
  color: #ff0000;
  background-color: lightslategray;
}